<html>
    <head>
        <meta charset="UTF-8">
        <title>testing</title>
        <script src="/js/index.js"></script>
    </head>

    <body>
        <p>hi</p>
        <p>this some scuffed stuff</p>
        <button onclick="test_fetch('123')">do the fetchy</button>

        <form action="/registerToken" method="POST">
            <input type="text" name="expo_token">
            <input type="text" name="app_token">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>